a {
    color: #333;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li.selected a {
    color: #ff0000;
}

label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

label, input, select {
    margin: 10px;
}

#page-myservice form {
    text-align: center;
}