a {
    color: #333;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li.selected a {
    color: #ff0000;
}

label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

label, input, select {
    margin: 10px;
}

#page-myservice form {
    text-align: center;
}

.template {
    display: none;
}

#results {
    padding: 0;
}

#results li {
    border-bottom: 1px dotted #ccc;
    list-style: none;
    margin: 10px 0;
    padding: 10px 0;
}

#results li .name {
    font-weight: bold;
}

#page-index #categories {
    width: 25%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#page-index #categories+div {
    width: 75%;
    float: left;
}

#page-index form {
    background: #EEE;
    border: 1px solid #DDD;
}